#deshabilitar la firma del servidor ejemplo: apache 2 mod_security, mod_python etc.
ServerSignature Off

#firmemos nuestro servidor
DefaultLanguage es-ES
#configuremos el horario que necesitamos
SetEnv TZ America/Bogota

#Nadie ve el htaccess
<files .htaccess>
order allow,deny
deny from all
allow from 127.0.0.1
#allow from $MIIP
</files>

# Habilitar para todos los index
Options All -Indexes

#Habilitar Moto de Escritura
RewriteEngine on

#Habilitar Links Simbolicos
Options +FollowSymLinks  

# Protegerse contra los ataques DOS limitando el tamaño de 
# subida de archivos a 10 megas en este caso 10240000 bytes
LimitRequestBody 10240000

#Protección Contra Ataques SQL Injection en aplicaciones web

RewriteCond %{HTTP_USER_AGENT} ^$ [OR]  
RewriteCond %{HTTP_USER_AGENT} ^(-|\.|') [OR]  
RewriteCond %{HTTP_USER_AGENT} ^(.*)(<|>|%3C|%3E)(.*) [NC,OR]  
RewriteCond %{HTTP_USER_AGENT} ^(java|curl|wget)(.*) [NC,OR]  
RewriteCond %{HTTP_USER_AGENT} ^(.*)(libwww-perl|libwwwperl|snoopy|curl|wget|winhttp|python|nikto|scan|clshttp|archiver|loader|email|harvest|fetch|extract|grab|miner|suck|reaper|leach)(.*) [NC,OR]  
RewriteCond %{REQUEST_URI} ^(/,|/;|/<|/>|/'|/`|/%2C|/%3C|/%3E|/%27|/////) [NC,OR]  
RewriteCond %{HTTP_REFERER} ^(.*)(%00|%08|%09|%0A|%0B|%0C|%0D|%0E|%0F|%2C|<|>|'|%3C|%3E|%26%23|%27|%60)(.*) [NC,OR]  
RewriteCond %{QUERY_STRING} ^(.*)(%00|%08|%09|%0A|%0B|%0C|%0D|%0E|%0F|%2C|%3C|%3E|%27|%26%23|%60)(.*) [NC,OR]  
RewriteCond %{QUERY_STRING} ^(.*)('|-|<|>|,|/|\\|\.a|\.c|\.t|\.d|\.p|\.i|\.e|\.j)(.*) [NC,OR]  
RewriteCond %{HTTP_COOKIE} ^(.*)(<|>|'|%3C|%3E|%27)(.*) [NC]  
RewriteRule ^(.*)$ index.php [NC]

#Protección Contra Ataques XSS en aplicaciones web

RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} (\<|%3C).*iframe.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ index_error.php [F,L]
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

#Proteger el ancho de banda frente copypasters
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?tusitio.com/.*$ [NC]
#RewriteCond %{HTTP_USER_AGENT} !(googlebot-image|msnbot|psbot|yahoo-mmcrawler|cavalla_bot) [NC]
#RewriteRule \.(gif|jpg)$ - [F]
#RewriteRule \.(gif|jpg)$ http://www.tusitio.com/nomerobeslasimagenesnoseasHP.gif [R,L]

# Bloquar Bots y otras alimañas
SetEnvIfNoCase User-Agent "Aboundex" kill
SetEnvIfNoCase User-Agent "80legs" kill
SetEnvIfNoCase User-Agent "360Spider" kill
SetEnvIfNoCase User-Agent "^Java" kill
SetEnvIfNoCase User-Agent "^Cogentbot" kill
SetEnvIfNoCase User-Agent "^Alexibot" kill
SetEnvIfNoCase User-Agent "^asterias" kill
SetEnvIfNoCase User-Agent "^attach" kill
SetEnvIfNoCase User-Agent "^BackDoorBot" kill
SetEnvIfNoCase User-Agent "^BackWeb" kill
SetEnvIfNoCase User-Agent "Bandit" kill
SetEnvIfNoCase User-Agent "^BatchFTP" kill
SetEnvIfNoCase User-Agent "^Bigfoot" kill
SetEnvIfNoCase User-Agent "^Black.Hole" kill
SetEnvIfNoCase User-Agent "^BlackWidow" kill
SetEnvIfNoCase User-Agent "^BlowFish" kill
SetEnvIfNoCase User-Agent "^BotALot" kill
SetEnvIfNoCase User-Agent "Buddy" kill
SetEnvIfNoCase User-Agent "^BuiltBotTough" kill
SetEnvIfNoCase User-Agent "^Bullseye" kill
SetEnvIfNoCase User-Agent "^BunnySlippers" kill
SetEnvIfNoCase User-Agent "^Cegbfeieh" kill
SetEnvIfNoCase User-Agent "^CheeseBot" kill
SetEnvIfNoCase User-Agent "^CherryPicker" kill
SetEnvIfNoCase User-Agent "^ChinaClaw" kill
SetEnvIfNoCase User-Agent "Collector" kill
SetEnvIfNoCase User-Agent "Copier" kill
SetEnvIfNoCase User-Agent "^CopyRightCheck" kill
SetEnvIfNoCase User-Agent "^cosmos" kill
SetEnvIfNoCase User-Agent "^Crescent" kill
SetEnvIfNoCase User-Agent "^Custo" kill
SetEnvIfNoCase User-Agent "^AIBOT" kill
SetEnvIfNoCase User-Agent "^DISCo" kill
SetEnvIfNoCase User-Agent "^DIIbot" kill
SetEnvIfNoCase User-Agent "^DittoSpyder" kill
SetEnvIfNoCase User-Agent "^Download\ Demon" kill
SetEnvIfNoCase User-Agent "^Download\ Devil" kill
SetEnvIfNoCase User-Agent "^Download\ Wonder" kill
SetEnvIfNoCase User-Agent "^dragonfly" kill
SetEnvIfNoCase User-Agent "^Drip" kill
SetEnvIfNoCase User-Agent "^eCatch" kill
SetEnvIfNoCase User-Agent "^EasyDL" kill
SetEnvIfNoCase User-Agent "^ebingbong" kill
SetEnvIfNoCase User-Agent "^EirGrabber" kill
SetEnvIfNoCase User-Agent "^EmailCollector" kill
SetEnvIfNoCase User-Agent "^EmailSiphon" kill
SetEnvIfNoCase User-Agent "^EmailWolf" kill
SetEnvIfNoCase User-Agent "^EroCrawler" kill
SetEnvIfNoCase User-Agent "^Exabot" kill
SetEnvIfNoCase User-Agent "^Express\ WebPictures" kill
SetEnvIfNoCase User-Agent "Extractor" kill
SetEnvIfNoCase User-Agent "^EyeNetIE" kill
SetEnvIfNoCase User-Agent "^Foobot" kill
SetEnvIfNoCase User-Agent "^flunky" kill
SetEnvIfNoCase User-Agent "^FrontPage" kill
SetEnvIfNoCase User-Agent "^Go-Ahead-Got-It" kill
SetEnvIfNoCase User-Agent "^gotit" kill
SetEnvIfNoCase User-Agent "^GrabNet" kill
SetEnvIfNoCase User-Agent "^Grafula" kill
SetEnvIfNoCase User-Agent "^Harvest" kill
SetEnvIfNoCase User-Agent "^hloader" kill
SetEnvIfNoCase User-Agent "^HMView" kill
SetEnvIfNoCase User-Agent "^HTTrack" kill
SetEnvIfNoCase User-Agent "^humanlinks" kill
SetEnvIfNoCase User-Agent "^IlseBot" kill
SetEnvIfNoCase User-Agent "^Image\ Stripper" kill
SetEnvIfNoCase User-Agent "^Image\ Sucker" kill
SetEnvIfNoCase User-Agent "Indy\ Library" kill
SetEnvIfNoCase User-Agent "^InfoNaviRobot" kill
SetEnvIfNoCase User-Agent "^InfoTekies" kill
SetEnvIfNoCase User-Agent "^Intelliseek" kill
SetEnvIfNoCase User-Agent "^InterGET" kill
SetEnvIfNoCase User-Agent "^Internet\ Ninja" kill
SetEnvIfNoCase User-Agent "^Iria" kill
SetEnvIfNoCase User-Agent "^Jakarta" kill
SetEnvIfNoCase User-Agent "^JennyBot" kill
SetEnvIfNoCase User-Agent "^JetCar" kill
SetEnvIfNoCase User-Agent "^JOC" kill
SetEnvIfNoCase User-Agent "^JustView" kill
SetEnvIfNoCase User-Agent "^Jyxobot" kill
SetEnvIfNoCase User-Agent "^Kenjin.Spider" kill
SetEnvIfNoCase User-Agent "^Keyword.Density" kill
SetEnvIfNoCase User-Agent "^larbin" kill
SetEnvIfNoCase User-Agent "^LexiBot" kill
SetEnvIfNoCase User-Agent "^lftp" kill
SetEnvIfNoCase User-Agent "^libWeb/clsHTTP" kill
SetEnvIfNoCase User-Agent "^likse" kill
SetEnvIfNoCase User-Agent "^LinkextractorPro" kill
SetEnvIfNoCase User-Agent "^LinkScan/8.1a.Unix" bad_bo
SetEnvIfNoCase User-Agent "^LNSpiderguy" killt
SetEnvIfNoCase User-Agent "^LinkWalker" kill
SetEnvIfNoCase User-Agent "^lwp-trivial" kill
SetEnvIfNoCase User-Agent "^LWP::Simple" kill
SetEnvIfNoCase User-Agent "^Magnet" kill
SetEnvIfNoCase User-Agent "^Mag-Net" kill
SetEnvIfNoCase User-Agent "^MarkWatch" kill
SetEnvIfNoCase User-Agent "^Mass\ Downloader" kill
SetEnvIfNoCase User-Agent "^Mata.Hari" kill
SetEnvIfNoCase User-Agent "^Memo" kill
SetEnvIfNoCase User-Agent "^Microsoft.URL" kill
SetEnvIfNoCase User-Agent "^Microsoft\ URL\ Control" kill
SetEnvIfNoCase User-Agent "^MIDown\ tool" kill
SetEnvIfNoCase User-Agent "^MIIxpc" kill
SetEnvIfNoCase User-Agent "^Mirror" kill
SetEnvIfNoCase User-Agent "^Missigua\ Locator" kill
SetEnvIfNoCase User-Agent "^Mister\ PiX" kill
SetEnvIfNoCase User-Agent "^moget" kill
SetEnvIfNoCase User-Agent "^Mozilla/3.Mozilla/2.01" kill
SetEnvIfNoCase User-Agent "^Mozilla.*NEWT" kill
SetEnvIfNoCase User-Agent "^NAMEPROTECT" kill
SetEnvIfNoCase User-Agent "^Navroad" kill
SetEnvIfNoCase User-Agent "^NearSite" kill
SetEnvIfNoCase User-Agent "^NetAnts" kill
SetEnvIfNoCase User-Agent "^Netcraft" kill
SetEnvIfNoCase User-Agent "^NetMechanic" kill
SetEnvIfNoCase User-Agent "^NetSpider" kill
SetEnvIfNoCase User-Agent "^Net\ Vampire" kill
SetEnvIfNoCase User-Agent "^NetZIP" kill
SetEnvIfNoCase User-Agent "^NextGenSearchBot" kill
SetEnvIfNoCase User-Agent "^NG" kill
SetEnvIfNoCase User-Agent "^NICErsPRO" kill
SetEnvIfNoCase User-Agent "^NimbleCrawler" kill
SetEnvIfNoCase User-Agent "^Ninja" kill
SetEnvIfNoCase User-Agent "^NPbot" kill
SetEnvIfNoCase User-Agent "^Octopus" kill
SetEnvIfNoCase User-Agent "^Offline\ Explorer" kill
SetEnvIfNoCase User-Agent "^Offline\ Navigator" kill
SetEnvIfNoCase User-Agent "^Openfind" kill
SetEnvIfNoCase User-Agent "^OutfoxBot" kill
SetEnvIfNoCase User-Agent "^PageGrabber" kill
SetEnvIfNoCase User-Agent "^Papa\ Foto" kill
SetEnvIfNoCase User-Agent "^pavuk" kill
SetEnvIfNoCase User-Agent "^pcBrowser" kill
SetEnvIfNoCase User-Agent "^PHP\ version\ tracker" kill
SetEnvIfNoCase User-Agent "^Pockey" kill
SetEnvIfNoCase User-Agent "^ProPowerBot/2.14" kill
SetEnvIfNoCase User-Agent "^ProWebWalker" kill
SetEnvIfNoCase User-Agent "^psbot" kill
SetEnvIfNoCase User-Agent "^Pump" kill
SetEnvIfNoCase User-Agent "^QueryN.Metasearch" kill
SetEnvIfNoCase User-Agent "^RealDownload" kill
SetEnvIfNoCase User-Agent "Reaper" kill
SetEnvIfNoCase User-Agent "Recorder" kill
SetEnvIfNoCase User-Agent "^ReGet" kill
SetEnvIfNoCase User-Agent "^RepoMonkey" kill
SetEnvIfNoCase User-Agent "^RMA" kill
SetEnvIfNoCase User-Agent "Siphon" kill
SetEnvIfNoCase User-Agent "^SiteSnagger" kill
SetEnvIfNoCase User-Agent "^SlySearch" kill
SetEnvIfNoCase User-Agent "^SmartDownload" kill
SetEnvIfNoCase User-Agent "^Snake" kill
SetEnvIfNoCase User-Agent "^Snapbot" kill
SetEnvIfNoCase User-Agent "^Snoopy" kill
SetEnvIfNoCase User-Agent "^sogou" kill
SetEnvIfNoCase User-Agent "^SpaceBison" kill
SetEnvIfNoCase User-Agent "^SpankBot" kill
SetEnvIfNoCase User-Agent "^spanner" kill
SetEnvIfNoCase User-Agent "^Sqworm" kill
SetEnvIfNoCase User-Agent "Stripper" kill
SetEnvIfNoCase User-Agent "Sucker" kill
SetEnvIfNoCase User-Agent "^SuperBot" kill
SetEnvIfNoCase User-Agent "^SuperHTTP" kill
SetEnvIfNoCase User-Agent "^Surfbot" kill
SetEnvIfNoCase User-Agent "^suzuran" kill
SetEnvIfNoCase User-Agent "^Szukacz/1.4" kill
SetEnvIfNoCase User-Agent "^tAkeOut" kill
SetEnvIfNoCase User-Agent "^Teleport" kill
SetEnvIfNoCase User-Agent "^Telesoft" kill
SetEnvIfNoCase User-Agent "^TurnitinBot/1.5" kill
SetEnvIfNoCase User-Agent "^The.Intraformant" kill
SetEnvIfNoCase User-Agent "^TheNomad" kill
SetEnvIfNoCase User-Agent "^TightTwatBot" kill
SetEnvIfNoCase User-Agent "^Titan" kill
SetEnvIfNoCase User-Agent "^True_Robot" kill
SetEnvIfNoCase User-Agent "^turingos" kill
SetEnvIfNoCase User-Agent "^TurnitinBot" kill
SetEnvIfNoCase User-Agent "^URLy.Warning" kill
SetEnvIfNoCase User-Agent "^Vacuum" kill
SetEnvIfNoCase User-Agent "^VCI" kill
SetEnvIfNoCase User-Agent "^VoidEYE" kill
SetEnvIfNoCase User-Agent "^Web\ Image\ Collector" kill
SetEnvIfNoCase User-Agent "^Web\ Sucker" kill
SetEnvIfNoCase User-Agent "^WebAuto" kill
SetEnvIfNoCase User-Agent "^WebBandit" kill
SetEnvIfNoCase User-Agent "^Webclipping.com" kill
SetEnvIfNoCase User-Agent "^WebCopier" kill
SetEnvIfNoCase User-Agent "^WebEMailExtrac.*" kill
SetEnvIfNoCase User-Agent "^WebEnhancer" kill
SetEnvIfNoCase User-Agent "^WebFetch" kill
SetEnvIfNoCase User-Agent "^WebGo\ IS" kill
SetEnvIfNoCase User-Agent "^Web.Image.Collector" kill
SetEnvIfNoCase User-Agent "^WebLeacher" kill
SetEnvIfNoCase User-Agent "^WebmasterWorldForumBot" kill
SetEnvIfNoCase User-Agent "^WebReaper" kill
SetEnvIfNoCase User-Agent "^WebSauger" kill
SetEnvIfNoCase User-Agent "^Website\ eXtractor" kill
SetEnvIfNoCase User-Agent "^Website\ Quester" kill
SetEnvIfNoCase User-Agent "^Webster" kill
SetEnvIfNoCase User-Agent "^WebStripper" kill
SetEnvIfNoCase User-Agent "^WebWhacker" kill
SetEnvIfNoCase User-Agent "^WebZIP" kill
SetEnvIfNoCase User-Agent "Whacker" kill
SetEnvIfNoCase User-Agent "^Widow" kill
SetEnvIfNoCase User-Agent "^WISENutbot" kill
SetEnvIfNoCase User-Agent "^WWWOFFLE" kill
SetEnvIfNoCase User-Agent "^WWW-Collector-E" kill
SetEnvIfNoCase User-Agent "^Xaldon" kill
SetEnvIfNoCase User-Agent "^Xenu" kill
SetEnvIfNoCase User-Agent "^Zeus" kill
SetEnvIfNoCase User-Agent "ZmEu" kill
SetEnvIfNoCase User-Agent "^Zyborg" kill

# Bloquear escaneadores de vulnerabilidades
SetEnvIfNoCase User-Agent "Acunetix" kill
SetEnvIfNoCase User-Agent "FHscan" kill

# Bloquear Motor de Busqueda Chino
SetEnvIfNoCase User-Agent "Baiduspider" kill

# Bloquear Motor de Busqueda Ruso
SetEnvIfNoCase User-Agent "Yandex" kill


<Limit GET POST HEAD>
Order Allow,Deny
Allow from all
#en caso de Emergencia cambiar por esto
#Order Deny,Allow
#Deny from All
#Allow from $MIIP

# Cyveillance http://en.wikipedia.org/wiki/Cyveillance
deny from 38.100.19.8/29
deny from 38.100.21.0/24
deny from 38.100.41.64/26
deny from 38.105.71.0/25
deny from 38.105.83.0/27
deny from 38.112.21.140/30
deny from 38.118.42.32/29
deny from 65.213.208.128/27
deny from 65.222.176.96/27
deny from 65.222.185.72/29
#Kill swicht
Deny from env=kill
</Limit>
